#Projetc

## Libraries

In [4]:
import requests
import json
import pandas as pd
import numpy as np
from time import ctime

##Functions

### Requests for Server

In [86]:
def request_server():
  # sales_week = requests.get('http://localhost:3000/api/ep1').json()           
  sales_week = [{"id":"la6qh2sp4ep46i8b6py",
                 "date":1585193427.9282784,
                 "prod_1":4.672115087755834,
                 "prod_4":-15.63453996204932,
                 "prod_6":8.208709095001666,
                 "prod_7":7.014513963204838,
                 "prod_9":13.308457257672346,
                 "prod_8":743.8869011328661,
                 "prod_10":62.14120398899395,
                 "prod_15":486.4358639945684},
                {"id":"la6qh2spbjv7hb89j7m",
                 "date":1585176928.3647912,
                 "prod_2":2.2408894958657055,
                 "prod_4":27.92679276660732,
                 "prod_5":12.69088258523765,
                 "prod_6":24.840385379848883,
                 "prod_7":6.5658456494877555,
                 "prod_8":555.8331762200993,
                 "prod_9":29.68968379657985,
                 "prod_10":152.9985695767856,
                 "prod_15":835.0257502373472},
                {"id":"la6qh2speg15u28ffcv",
                 "date":1585168963.4433658,
                 "prod_0":11.45745052254793,
                 "prod_4":11.300855089801265,
                 "prod_5":39.75614300419292,
                 "prod_6":23.702791556083536,
                 "prod_7":17.176267462467788,
                 "prod_8":30.92430076224717,
                 "prod_11":417.1834378170206,
                 "prod_15":-557.6174793145321}]
  sales_week = data_clearing(sales_week)                                        # Trigger function for data clearing
  df_sales_week = pd.DataFrame(sales_week)
  return df_sales_week

### Data Clearing

In [59]:
def data_clearing(data: dict):
  '''
  Function for data clearing
  All data will be format (date in date format, products between 1 and 7 for
  int values, products between 8 and 20 for float value). Sales with
  quantitative smaller than zero  and  products outside the range 1 to 20
  will be erased
  : param data: a dictionary with the sales
  : return: a dictionary affer data clearing
  '''
  for i in range(len(data)):
    clean_data = data[i].copy()
    clean_data['date'] = ctime(data[i]['date'])                                 # Date-formatted value
    for key, value in data[i].items():                                                  # Clean data
      if key not in ['id','date']:
        if value <= 0:
          clean_data.pop(key)                                                   # Erase product sales with quantitative smaller than zero
        elif key in PRODUCT_UNIT:
          clean_data[key] = int(data[i][key])                                   # Int-formatted values ​​for products between 1 and 7
        elif key in PRODUCT_KG:
          clean_data[key] = float(data[i][key])                                 # Float-formatted values ​​for products between 8 and 20
        else:
          clean_data.pop(key)                                                   # Erase product sales for products not between 1 and 20          
    data[i] = clean_data.copy()
  return data

### Save CSV

In [87]:
def save_csv(df: pd.DataFrame, file_csv: str):
  '''
  Function for save data frame in CSV file
  : param df: a DataFrame for save in CSV file
  : param file_csv: CSV file name
  '''
  with open(file_csv, 'a') as file:
    df.to_csv(file, sep=';', index =True, header=file.tell()==0)
  return

#Main

In [29]:
PRODUCT_UNIT = ["prod_1","prod_2","prod_3","prod_4","prod_5","prod_6","prod_7"]
PRODUCT_KG = ["prod_8","prod_9","prod_10","prod_11","prod_12","prod_13",
              "prod_14","prod_15","prod_16","prod_17","prod_18","prod_19",
              "prod_20"]

In [88]:
df_sales_week = request_server()

In [89]:
df_sales_week

,id,date,prod_4,prod_6,prod_9,prod_8,prod_10,prod_11,prod_15,prod_1,prod_5,prod_7,prod_2,prod_3
0,la6yd3u4c7xurut70xq,Thu May 7 04:44:31 2020,38.0,24.0,39.277806,33.065226,19.817258,54.299979,581.850224,NaN,NaN,NaN,NaN,NaN
1,la6yd3u4n49dxu41pzd,Thu May 7 08:58:46 2020,NaN,NaN,398.733276,NaN,NaN,384.709045,775.480500,21.0,17.0,7.0,NaN,NaN
2,la6yd3u4dnihrjqxtrg,Thu May 7 08:39:12 2020,18.0,NaN,360.501940,357.577641,565.944819,678.678708,773.869433,NaN,5.0,35.0,9.0,NaN
3,la6yd3u48boeivnp5ym,Thu May 7 08:23:58 2020,23.0,NaN,278.421352,NaN,NaN,73.898744,423.009445,37.0,35.0,8.0,NaN,42.0
4,la6yd3u4newr6kqtj6,Thu May 7 08:16:52 2020,7.0,24.0,NaN,NaN,654.267221,262.530780,594.277688,9.0,35.0,NaN,NaN,43.0
5,la6yd3u40de68w86etap,Thu May 7 06:29:25 2020,32.0,16.0,234.715541,39.124896,NaN,NaN,494.431528,1.0,35.0,NaN,29.0,NaN
6,la6yd3u4obh3sf2ah7,Wed May 6 21:05:24 2020,46.0,NaN,44.969281,293.356452,560.090927,30.928293,889.411207,31.0,NaN,37.0,7.0,27.0
7,la6yd3u402l1cxhkrzm,Thu May 7 08:29:50 2020,NaN,NaN,NaN,NaN,354.138240,615.590658,674.119416,NaN,NaN,8.0,47.0,NaN
8,la6yd3u4pj0d96f0xyd,Thu May 7 05:25:29 2020,22.0,36.0,NaN,NaN,NaN,NaN,617.009520,40.0,49.0,NaN,35.0,14.0
9,la6yd3u4sma7qu33mq,Thu May 7 09:29:34 2020,43.0,13.0,NaN,NaN,196.569037,NaN,771.233979,40.0,NaN,15.0,3.0,NaN
10,la6yd3u47jmbhhs13aj,Thu May 7 08:58:51 2020,NaN,12.0,371.839909,623.420102,NaN,759.776602,529.054360,44.0,19.0,33.0,37.0,NaN
11,la6yd3u4ansna94zpvn,Wed May 6 21:08:35 2020,NaN,NaN,393.250842,29.688964,149.056782,NaN,856.481608,NaN,NaN,8.0,11.0,24.0
12,la6yd3u4nzm950ofmh,Wed May 6 22:02:07 2020,NaN,NaN,564.394190,123.398937,NaN,NaN,474.177025,35.0,NaN,NaN,41.0,18.0
13,la6yd3u4jsj1yzqd939,Thu May 7 02:12:51 2020,NaN,NaN,487.168700,28.598798,NaN,432.883233,469.772309,NaN,11.0,NaN,NaN,34.0
14,la6yd3u4l2b47knr5hi,Thu May 7 04:59:26 2020,26.0,19.0,NaN,813.851717,NaN,811.083813,597.400320,NaN,NaN,NaN,NaN,3.0
15,la6yd3u425ml8nbtz4g,Wed May 6 22:32:56 2020,NaN,18.0,57.440902,244.698280,756.758311,480.844150,380.449061,NaN,NaN,6.0,36.0,NaN
16,la6yd3u4jq76qly62z,Wed May 6 20:51:21 2020,NaN,NaN,NaN,NaN,277.219807,651.153144,888.582497,NaN,NaN,7.0,17.0,37.0
17,la6yd3u4s4kpoy6ge4,Wed May 6 20:28:39 2020,NaN,NaN,514.523745,NaN,782.557752,NaN,726.472462,NaN,5.0,NaN,NaN,NaN
18,la6yd3u47956rm893f7,Thu May 7 04:18:05 2020,12.0,NaN,615.138479,638.649869,122.976086,318.385743,481.221831,12.0,NaN,NaN,14.0,27.0
19,la6yd3u4n4xnb0xp76,Wed May 6 23:09:20 2020,NaN,29.0,145.974711,696.391699,NaN,NaN,375.816899,1.0,35.0,22.0,16.0,6.0
20,la6yd3u40y6smer6gjh,Thu May 7 10:13:29 2020,NaN,NaN,196.214623,NaN,59.154971,524.671589,200.307118,39.0,NaN,18.0,41.0,NaN
21,la6yd3u4az6g5840d1i,Thu May 7 02:00:44 2020,5.0,NaN,32.155353,37.833011,356.130912,485.546628,450.440859,9.0,31.0,2.0,NaN,NaN
22,la6yd3u4kb8xibbymkc,Thu May 7 03:33:26 2020,NaN,1.0,300.691364,664.101006,492.250869,231.463481,484.585442,NaN,NaN,NaN,NaN,11.0
23,la6yd3u4wb63uh64n2,Wed May 6 21:38:01 2020,NaN,11.0,316.256427,343.405975,153.856932,182.933144,624.472542,NaN,NaN,NaN,25.0,NaN
24,la6yd3u4f4zgouckqup,Thu May 7 09:23:52 2020,NaN,NaN,42.049981,618.948240,470.881738,NaN,861.401915,25.0,NaN,NaN,NaN,NaN
25,la6yd3u4mb81robqzn,Wed May 6 21:46:54 2020,NaN,11.0,63.631517,374.180727,NaN,NaN,517.105862,47.0,NaN,17.0,NaN,17.0
26,la6yd3u4npueoqxly,Thu May 7 05:16:48 2020,6.0,NaN,401.761021,70.688019,NaN,NaN,265.254242,NaN,21.0,13.0,48.0,NaN

In [90]:
save_csv(df = df_sales_week, file_csv = 'sales.csv')